<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  {% feed_meta %}
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <meta name="theme-color" content="#141414">

  <script>
    (function () {
      var d = document.documentElement;
      d.classList.add("js");
      try { if (localStorage.getItem("theme") === "light") { d.setAttribute("data-theme", "light"); } } catch (e) {}
    })();
  </script>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <script src="/assets/js/site.js" defer></script>
</head>
